/* Basic styles */
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;

}

/* Header styles */

header{
    text-align: center;
    margin-bottom: 40px;

}

/* h1 style in the header section */
header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #1a1a1a;

}

/* Paregraph in the header */

.detail {
    font-size: 1.2rem;
    color: #555;

}

/* Blog post styles */

.blog-post{
    background-color: #fff;
    border-left: 5px solid #0077cc;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

img{
    width: 234px;
}

.blog-post h2{
    margin-top: 0;
    color: #0077cc;

}

.blog-post .date{
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 10px;
}

.blog-post a{
    display: inline-block;
    margin-top: 10px;
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

/* this style takes effect when hover over on the link */
.blog-post a:hover{
    text-decoration: underline;
}

/* Footer styles */
footer{
    margin-top: 170px;
    font-size: 0.9rem;
    color: #878484;
}


